.git
.github
.gitlab-ci.yml
.gitattributes
.cursor
**/__pycache__
**/*.pyc
**/.pytest_cache
db
db.bak
log
backups
bot_token.txt
.python-version
*venv*
tests
captcha_images
docker/data
docker/.env
*.md
!docker/README.md
LICENSE
